<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
</mat-form-field>

<br>

<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker2">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker2"></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker2 startView="multi-year"></mat-datepicker>
</mat-form-field>

<br>

<mat-form-field>
  <input matInput [matDatepicker]="myDatePicker3" [min]="minDate" [max]="maxDate" [matDatepickerFilter]="dateFilter">
  <mat-datepicker-toggle matSuffix [for]="myDatePicker3"></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker3></mat-datepicker>
</mat-form-field>
