<mat-accordion  multi="false" hideToggle>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>This is the title</mat-panel-title>
    <mat-panel-description>
      This is the description.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Esse modi nisi nostrum eaque eveniet, vero,
      autem ab cum deserunt perferendis architecto expedita error quibusdam neque saepe unde dignissimos voluptate harum?
  </p>
  <mat-action-row>
    <button mat-flat-button color="primary">Apply</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Title 2</mat-panel-title>
    <mat-panel-description>
      This is the description 2222222222222222222.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Esse modi nisi nostrum eaque eveniet, vero,
      autem ab cum deserunt perferendis architecto expedita error quibusdam neque saepe unde dignissimos voluptate harum?
  </p>
  <mat-action-row>
    <button mat-flat-button color="primary">Apply</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
