<p>
  6 variant (raised, flat, stroken, icon, fab, mini-fab) + 3 color (primary, accent, warn)
</p>
<div>
  <button mat-button>Click me</button>
  <button mat-raised-button>Click raised me</button>
  <button mat-flat-button>Click flat me</button>
  <button mat-stroked-button>Click stroked me</button>
</div>

<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>MiniFab</button>
</div>

<div>
  <button mat-button color="primary">Primary</button>
  <button mat-button color="accent">Accent</button>
  <button mat-button color="warn" disableRipple>Warn</button>

  <button mat-raised-button color="primary">Raised</button>
  <button mat-raised-button color="accent">Raised</button>
  <button mat-raised-button color="warn" disableRipple>Raised</button>

  <button mat-fab color="primary">Fab</button>
  <button mat-fab color="accent">Fab</button>
  <button mat-fab color="warn" disableRipple>Fab</button>

  <button mat-mini-fab color="primary">MiniFab</button>
  <button mat-mini-fab color="accent">MiniFab</button>
  <button mat-mini-fab color="warn" disableRipple>MiniFab</button>
</div>
