<mat-horizontal-stepper linear>

    <mat-step label="Products" completed="true">
        Products list details
    </mat-step>

  <mat-step label="Shipping Adress" completed="false">
      Shipping Address detail
  </mat-step>

  <mat-step label="Billing Address" completed="false" optional>
      Billing Address detail
      <div>
        <button mat-raised-button matStepperPrevious>Previous</button>
        <button mat-raised-button matStepperNext>Next</button>
      </div>
  </mat-step>

  <mat-step label="Place Order" completed="false">
    <p>Place Order detail</p>
  </mat-step>

</mat-horizontal-stepper>
